<div class="card mt-5">
    <div class="card-header">
        {{this.isNew ? "Register AZ_TR_USUARIO" : "Update AZ_TR_USUARIO"}}
    </div>
    <div class="card-body">
        <form (ngSubmit)="submitAZ_TR_USUARIO(forma)" #forma="ngForm" class="row g-3">
<div class="col-md-6">
<label for="label-Id_usuario"  class="form-label">Id_usuario:</label>"
<input #inputid_usuario="ngModel"  type="text" name="Id_usuario" [ngClass]="{'is-invalid': inputid_usuario.touched && inputid_usuario.hasError('required') }" [(ngModel)]="az_tr_usuario.id_usuario" class="form-control" id="Id_usuario" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-Usuario"  class="form-label">Usuario:</label>"
<input #inputusuario="ngModel"  type="text" name="Usuario" [ngClass]="{'is-invalid': inputusuario.touched && inputusuario.hasError('required') }" [(ngModel)]="az_tr_usuario.usuario" class="form-control" id="Usuario" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-Nombre_real"  class="form-label">Nombre_real:</label>"
<input #inputnombre_real="ngModel"  type="text" name="Nombre_real" [ngClass]="{'is-invalid': inputnombre_real.touched && inputnombre_real.hasError('required') }" [(ngModel)]="az_tr_usuario.nombre_real" class="form-control" id="Nombre_real" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-Pass"  class="form-label">Pass:</label>"
<input #inputpass="ngModel"  type="text" name="Pass" [ngClass]="{'is-invalid': inputpass.touched && inputpass.hasError('required') }" [(ngModel)]="az_tr_usuario.pass" class="form-control" id="Pass" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-Correo"  class="form-label">Correo:</label>"
<input #inputcorreo="ngModel"  type="text" name="Correo" [ngClass]="{'is-invalid': inputcorreo.touched && inputcorreo.hasError('required') }" [(ngModel)]="az_tr_usuario.correo" class="form-control" id="Correo" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-Expira_pass"  class="form-label">Expira_pass:</label>"
<input #inputexpira_pass="ngModel"  type="date" name="Expira_pass" [ngClass]="{'is-invalid': inputexpira_pass.touched && inputexpira_pass.hasError('required') }" [(ngModel)]="az_tr_usuario.expira_pass" class="form-control" id="Expira_pass" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-Estado"  class="form-label">Estado:</label>"
<input #inputestado="ngModel"  type="text" name="Estado" [ngClass]="{'is-invalid': inputestado.touched && inputestado.hasError('required') }" [(ngModel)]="az_tr_usuario.estado" class="form-control" id="Estado" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-12 text-center">
            <button class=" btn btn-primary" type="submit" [disabled]="forma.invalid">{{this.isNew ? "Register" : "Update"}}</button>
            <button style="margin-left: 10px;" class=" btn btn-danger" type="button" (click)="limpiarForm(forma)">Clear</button>
            <button *ngIf="!this.isNew" style="margin-left: 10px;" class=" btn btn-danger" type="button" (click)="emitChange.emit()">Cancel</button>
          </div>
      </form>
    </div>
</div>
<router-outlet></router-outlet> 
