<nav class="bg-withe">
<nav class="navbar navbar-expand-lg bg-white" >
  <div class="container-fluid" style="overflow-x: auto;">
<a class="navbar-brand text-info" href="/AZ_TC_ACCION">AZ_TC_ACCION</a>
<a class="navbar-brand text-info" href="/AZ_TC_MODULO">AZ_TC_MODULO</a>
<a class="navbar-brand text-info" href="/AZ_TC_PERFIL">AZ_TC_PERFIL</a>
<a class="navbar-brand text-info" href="/AZ_TR_MENU">AZ_TR_MENU</a>
<a class="navbar-brand text-info" href="/AZ_TR_MODULO_ACCION">AZ_TR_MODULO_ACCION</a>
<a class="navbar-brand text-info" href="/AZ_TR_PERMISO_PERFIL">AZ_TR_PERMISO_PERFIL</a>
<a class="navbar-brand text-info" href="/AZ_TR_ROLES">AZ_TR_ROLES</a>
<a class="navbar-brand text-info" href="/AZ_TR_seccion">AZ_TR_seccion</a>
<a class="navbar-brand text-info" href="/AZ_TR_USUARIO">AZ_TR_USUARIO</a>
<div class="collapse navbar-collapse " id="navbarNav">
    </div>
  </div>
</nav>
<router-outlet></router-outlet> 